<% include partials/header %>

<h1>This is the airports page!</h1>

<a href="/airports/new">Add New Airport</a>

<% airports.forEach(airport => { %>
    <div>
        <h4><%= airport.name %></h4>
        <img src="<%= airport.image %>" alt="Airport picture">
    </div>
<% }); %>

<% include partials/footer %>